#centerMain {
    
    text-align: center;
    margin: 0 auto;
    border: 0px solid #ddd;
    border-width: 0 0px;
	min-height: 100%;
	
}

#suggestionContainer {
	position:initial;
	overflow:hidden;
	font-size: 105%;
	margin-top: 95px;
	
	
}

body {
    
    overflow-y: auto;

}

.indicator{
	position: relative;
	height: 25px;
}

.closeContext {
	position: sticky;
	margin-right: 12px;
}

#allDefDict{
	text-align: left;
}

#bar1 {
    height: 95px;
    
    width: 100%;background: #fff;
    z-index: 99;
	position: fixed;
	top: 0;
	border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-left: -1px;
}

#logo {
    width: 160px;
    height: 42px;
    background-image: url(../img/logo.png);
	background-position: 0px 14px;
    background-size: auto 24px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 15px;
	color:transparent;
}



#search {
    width: 100%;
    border-top: 1px solid #ddd;
    margin-left: 0px;
    padding-top: 2px;
    margin-top: 12px;
}

#searchSuggestions{
	top:90px;
	width:1200px;
	max-width:100%;
}

#moreRelatedResults, #moreExactResults {
    width: fit-content;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
	letter-spacing: -0.05em;
	color: #000;
	font-weight: 400;
}

#suggestionNumber, #suggestionNumberDict, #suggestionNumberRelated {
    font-weight: 700;
}

#moreRelatedResults {
    margin: 0px 0px 10px 5px;
    background: #c7ebff;

display: inline-block;}

#moreExactResults {
    margin: 12px 0px 2px 5px;
    background: #c7ffdb;

display: inline-block;}

#moreDictResults {
    margin: 26px 15px 8px 15px;
}

.dictVoice, .dictDefinition, .dictAntonyms {
    padding-left: 15px;
    padding-right: 15px;
}

.indicator {
    font-family: Consolas;
	font-size: 90%;
	padding: 0px 6px 0px 4px;
	font-weight: 300;
	display:none;
}

.contextSuggestion b {
    letter-spacing: -1px;
}

.contextSuggestion {
    margin-top: 5px!important;
}

#searchField {
    width: calc(100% - 60px);
}

#switchView {
    width: 180px;
    height: 25px;
    background: #49657d;
    z-index: 999999;
    padding: 5px;
    line-height: 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 100%;
    position: absolute;
    left: calc(100% - 200px);
    top: 8px;
}


@media screen and (min-width: 768px) {
	
	#suggestionContainer {
		font-size: 130%;
	}
	
	#searchField {
		font-size: 150%;
	}
	
	.contextSuggestion {
		margin-top: 3px;
	}
	
	.indicator{
		position: relative;
		height: 30px;
	}
	
	#logo {
		background-position: 0px 12px;
		background-size: auto 30px;

	}

	
}

